{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container my-2 mt-md-5 mt-lg-4">
        <div class="row gy-3">
            {% for group in user.groups.all %}
                {% if group.name == "prestatarios" %}
                    {% include "menu/opcion.html" with option="Solicitar equipo" icono="bi-file-earmark-plus" descripcion="Haz una solicitud al almacen" href="filtros" %}
                    {% include "menu/opcion.html" with option="Historial de solicitudes" icono="bi-clock-history" descripcion="Ordenes anteriores" href="historial_solicitudes" %}
                {% elif group.name == "maestro" %}
                    <!-- Añade aquí las opciones para el grupo "maestro" -->
                {% elif group.name == "almacen" %}
                    <!-- Añade aquí las opciones para el grupo "almacen" -->
                {% elif group.name == "coordinador" %}
                    <!-- Añade aquí las opciones para el grupo "coordinador" -->
                {% endif %}
            {% endfor %}

            {% if user.is_staff %}
                {% include "menu/opcion.html" with option="Admin" icono="bi-database-gear" descripcion="Administrador" href="admin" %}
            {% endif %}


            {% include "menu/opcion.html" with option="Actualizar" icono="bi-person" descripcion="Actualizar datos" href="actualizar_perfil" %}
        </div>
    </div>
{% endblock %}
