{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-2  mb-5 mt-md-5 mt-lg-4">

        <div class="text-center mb-5">
            <span class="h4 mb-6">{{ user.first_name }}</span><br>
            <span class="">{{ user.get_username }}</span>
        </div>

        <div class="row gy-3">
            {% for group in user.groups.all %}
                {% if group.name == "prestatarios" %}
                    {% include "menu/opcion.html" with option="Solicitar equipo" icono="bi-file-earmark-plus" descripcion="Nueva solicitud" href="filtros" %}
                    {% include "menu/opcion.html" with option="Historial de solicitudes" icono="bi-clock-history" descripcion="Ordenes anteriores" href="historial_solicitudes" %}
                {% elif group.name == "maestro" %}
                    <!-- Añade aquí las opciones para el grupo "maestro" -->
                {% elif group.name == "almacen" %}
                    <!-- Añade aquí las opciones para el grupo "almacen" -->
                {% elif group.name == "coordinador" %}
                    <!-- Añade aquí las opciones para el grupo "coordinador" -->
                {% endif %}
            {% endfor %}

            {% if user.is_staff %}
                {% include "menu/opcion.html" with option="Admin" icono="bi-database-gear" descripcion="Administrador" href="admin" %}
            {% endif %}

            {% include "menu/opcion.html" with option="Actualizar" icono="bi-person" descripcion="Actualizar datos" href="actualizar_perfil" %}

            {# El logout es un form en la version mas nueva de django #}


<div class="col-md-4 col-xl-3" data-width="100">
    <form method="post" action="{% url 'logout' %}" class="w-100 h-100">
        {% csrf_token %}
        <button type="submit" class="btn btn-lg btn-primary d-flex flex-column justify-content-center align-items-center text-center w-100 h-100" style="background-color: #ffffff; color: black; border: none; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);">
            <i class="bi bi-door-open display-2"></i>
            <div class="mt-2">Cerrar Sesión</div>
        </button>
    </form>
</div>




        </div>
    </div>
{% endblock %}
