<!-- cambiar_estado_orden.html -->

{% extends 'base.html' %}

{% load static %}

{% block content %}

    <main class="container my-4 d-flex justify-content-center">
        <div class="col-md-6">
            <div class="order-info p-4 border rounded bg-white shadow-sm">
                <h2 class="mb-4 text-primary text-center" >Nueva solicitud: {{ orden.nombre }}</h2>

                <h5 class="text-center mb-4" >{{ orden.prestatario.first_name }}</h5>
                <h6 class="text-center mb-4">{{ orden.prestatario.username }} </h6>

                <div class="container my-4 justify-content-center">
                    <table class="table" style="border: none;">
                        <tr class="mb-4">
                            <td class="col-md-6" style="border: none;text-align: center;">
                                <strong class="fs-4">Inicio</strong>
                            </td>
                            <td class="col-md-6" style="border: none;text-align: center;">
                                <strong class="fs-4">Final</strong>
                            </td>
                        </tr>
                        <tr class="mb-3">
                            <td class="col-md-6" style="border: none; text-align: center;">
                                {{ orden.inicio|date:"d b" }}, {{ orden.inicio|time:"H:i" }}
                            </td>
                            <td class="col-md-6" style="border: none; text-align: center;">
                                {{ orden.final|date:"d b" }}, {{ orden.final|time:"H:i" }}
                            </td>
                        </tr>
                    </table>
                </div>

                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Lugar</th>
                        <td>{{ orden.get_lugar_display }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Materia</th>
                        <td>{{ orden.materia.nombre }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tipo</th>
                        <td>{{ orden.get_tipo_display }}</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="1">Descripción</th>
                        <td scope="row" colspan="1">
                            {{ orden.descripcion }}
                        </td>
                    </tr>
                    <tr>

                    </tr>
                    <tr>
                        <th class="border-0" scope="row" colspan="1">
                            Artículos
                        </th>
                        <td class="border-0" colspan="1">
                            <ul class="">
                                {% for articulo in orden.articulos.all %}
                                    <li class=""> {{ articulo }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

       {% if request.user.is_authenticated %}
            <div class="d-flex justify-content-center gap-2 mt-3">
                <form method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" name="action" value="aprobar" class="btn btn-success">Aprobar</button>
                    <button type="submit" name="action" value="cancelar" class="btn btn-danger">Cancelar</button>
                </form>
            </div>

            {% if orden.estado == 'APROBADA' %}
            <div class="alert alert-success mt-3" role="alert">
                La orden fue aprobada
            </div>
            {% elif orden.estado == 'CANCELADA' %}
            <div class="alert alert-danger mt-3" role="alert">
                La orden fue cancelada
            </div>
            {% endif %}
            {% else %}
            <div class="d-flex justify-content-center mt-3">
                <a href="{% url 'login' %}" class="btn btn-primary">Inicia sesión para confirmar!</a>
            </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}