{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container col-12 col-md-6 col-xl-5 mb-3 mt-2 mt-md-5 mt-lg-4">
    <div class="card" style="border: none; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)">
        <h5 class="card-header">Actualizar Perfil</h5>
        <div class="card-body">
            <div class="alert alert-info" role="alert" style="border: none; border-radius: 8px; text-align: center">
                Para actualizar la información, ingrese los nuevos datos en los campos correspondientes.
            </div>
            <form method="POST" action="{% url 'actualizar_perfil' %}">
                {% csrf_token %}

                    {% if form_actualizar_perfil.errors or form_actualizar_usuario.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for error_list in form_actualizar_perfil.errors.values %}
                                    {% for error in error_list %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error_list in form_actualizar_usuario.errors.values %}
                                    {% for error in error_list %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="form-floating mb-3">
                        {% render_field form_actualizar_perfil.numero_telefono class="form-control" placeholder="Número de teléfono" %}
                        <label>Número de teléfono</label>
                    </div>

                    <div class="form-floating mb-3">
                        {% render_field form_actualizar_usuario.email class="form-control" placeholder="Correo electrónico" %}
                        <label>Correo electrónico</label>
                    </div>

                    <div class="container text-center mt-4">
                        <button type="submit" class="btn btn-primary btn-lg mb-2" style="border: none; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)">Actualizar</button>

                        <div class="mt-2">
                            <a href="menu" id="boton_regresar" class="btn btn-primary" style="background-color: #DD971A; color: white; border: none; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)">
                                Regresar
                            </a>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
{% endblock %}
