{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-prestamos">
    <h4>Ordenes de Préstamos para Aprobar</h4>

    <h3>{{ solicitud.nombre }}</h3>
    <p>Nombre de producción: {{ solicitud.orden.nombre }} </p>
    <p>Prestatario: {{ solicitud.orden.prestatario.username }} {{ solicitud.orden.prestatario.first_name }}</p>
    <p>Autorizador: {{ solicitud.autorizador.username }} {{ solicitud.autorizador.first_name }}</p>
    <p>Fecha de inicio: {{ solicitud.orden.inicio }}</p>
    <p>Fecha de devolución: {{ solicitud.orden.final }}</p>
    <p>Unidades:</p>
    <ul>
    {% for unidad in solicitud.orden.unidades %}
        <li> {{ unidad.articulo.nombre }} </li>
    {% endfor %}
    </ul>
    <p>Estado: {{ solicitud.orden.get_estado_display }}</p>


    {% if request.user.is_authenticated %}

        {% if not solicitud.orden.aprobada %}
            <a href="{% url "actualizar_autorizacion" "aprobacion" "aprobar" solicitud.orden.id %}" class="btn btn-primary">Aprobar</a>
            <a href="{% url "actualizar_autorizacion" "aprobacion" "rechazar" solicitud.orden.id %}" class="btn btn-danger">Rechazar</a>
        {% endif %}

        {% if solicitud.orden.cancelada %}
            <h1>La orden fue rechazada</h1>
        {% endif %}

        {% if solicitud.orden.aprobada %}
            <h1>La orden fue aprobada</h1>
        {% endif %}


    {% else %}
        <a href="{% url "login" %}" class="btn btn-primary">Inicia sesion para confirmar!</a>
    {% endif %}

</div>
{% endblock %}