{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-prestamos">
    <h4>Ordenes de Préstamos para Autorizar</h4>

    <h3>{{ solicitud.nombre }}</h3>
    <p>Nombre produccion: {{ orden.nombre }} </p>
    <p>Prestatario: {{ solicitud.autorizador.username }} {{ solicitud.autorizador.first_name }}</p>
    <p>Fecha de solicitud: {{ solicitud.orden.inicio }}</p>
    <p>Estado: {{ solicitud.estado }}</p>


    {% if request.user.is_authenticated %}

        {% if solicitud.esta_pendiente %}
            <a href="{% url "actualizar_autorizacion" "corresponsable" "aceptar" orden.id %}" class="btn btn-primary">Autorizar</a>
            <a href="{% url "actualizar_autorizacion" "corresponsable" "rechazar" orden.id %}" class="btn btn-danger">Rechazar</a>
        {% endif %}

        {% if solicitud.rechazada %}
            <h1>La orden fue rechazada</h1>
        {% endif %}

        {% if solicitud.aceptada %}
            <h1>La orden fue aceptada</h1>
        {% endif %}


    {% else %}
        <a href="{% url "login" %}" class="btn btn-primary">Inicia sesion para confirmar!</a>
    {% endif %}

</div>
{% endblock %}
