{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container-prestamos">
        <h4>Ordenes de Préstamos para Autorizar</h4>

            <h3>{{ solicitud.nombre }}</h3>
            <p>Prestatario: {{ solicitud.prestatario.first_name }} {{ solicitud.prestatario.last_name }}</p>
            <p>Estado: {{ solicitud.get_estado_display }}</p>
            <p>Fecha de solicitud: {{ solicitud.emision }}</p>
            <a  class="btn btn-primary">Autorizar</a>
            <a class="btn btn-danger">Rechazar</a>

    </div>
{% endblock %}
