{% load static %}

<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}">

    <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>

    <style>
        .navbar-brand-margin {
            margin-right: 29rem;
        }
    </style>

    {% block head %}
    {% endblock %}
</head>
<body class="bg-light">
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-expand-xl bg-light">
        <div class="container justify-content-start">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand justify-content-start ms-3 ms-xxl-0 navbar-brand-margin" href="{% url 'menu' %}">

                <div class="d-none d-sm-inline">
                    <img class="" src="{% static 'img/LOGO-FACULTAD-RENOVADO-NO-BORDES-CEPA.png' %}" height="60px">
                </div>

                <div class="d-inline d-sm-none  ">
                    <img class="" src="{% static 'img/CEPA-UABC-HD.png' %}" height="50px">
                </div>

            </a>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel">

                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Opciones</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">
                    <ul class="navbar-nav flex-grow-1 pe-3">

                        {% block nav-items %}

                            <li class="nav-item">
                                <a class="nav-link" href="menu">Volver al Menú</a>
                            </li>

                            <li class="nav-item">
                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button class="nav-link" type="submit">
                                        Cerrar Sesión
                                    </button>
                                </form>
                            </li>

                        {% endblock %}

                    </ul>
                </div>
            </div>

            {% block nav-end %}

                <!-- Aqui van algunos items -->

            {% endblock %}

        </div>
    </nav>

{% endblock %}

{% block content %}
{% endblock %}
</body>
</html>

