{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Carrito</title>
{% endblock %}

{% block content %}
    <div class="container-sm order-details-container">
        <h2>Carrito</h2>
        <hr class="hr green-separator"/>
        <div class="order-items">
            <h4>Artículos en el carrito</h4>

            <ul class="list-group">
                {% for articuloCarrito in articulos_carrito %}
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        style="background-color: #f9f9f9;">
                        <div class="d-flex align-items-center">
                            <img src="{{ articuloCarrito.articulo.imagen.url }}"
                                 alt="{{ articuloCarrito.articulo.nombre }}"
                                 style="width: 50px; height: 50px; object-fit: cover; border-radius: 5px;"
                                 class="me-3">
                            <span class="text-dark">{{ articuloCarrito.articulo.nombre }}</span>
                        </div>
                        <div class="ms-auto">
                            <button class="btn btn-outline-secondary btn-sm" onclick="decrementValue()">-</button>
                            <input type="text" class="form-control d-inline text-center" value="1" min="1" max="99" style="width: 40px;">
                            <button class="btn btn-outline-secondary btn-sm" onclick="incrementValue()">+</button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="text-left mt-4" style="max-width: 50%">
            <label for="maestro" class="form-label">Elige a tu maestro a quien se le enviará la solicitud de autorización por correo. Si tu solicitud es extraordinaria, el coordinador será quien recibirá el correo. </label>
            <select class="form-select" id="maestro"> 
            {% for maestro in carrito.materia.maestros %}
                <option class="dropdown-item" value="{{ maestro.id }}">{{ maestro.username }} - {{maestro.email}}</option>
            {% endfor %}
            </select> 
        </div>

        <div class="text-center mt-4">
            <a href="{% url 'catalogo' %}" class="btn btn-warning me-3" style="background-color: #DD971A;">Regresar</a>
            <a href="{% url 'corresponsables' %}" class="btn btn-secondary me-3" >Agregar Corresponsables</a>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Ordenar</button>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reglamento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <embed id="pdfViewer" src="{% static 'img/Reglamento-Interno-de-la-Facultad-de-Artes-2022.pdf' %}" type="application/pdf" width="100%" height="600px">
                    <input type="checkbox" id="cerrarPDF">
                    <label for="cerrarPDF">He leído términos y condiciones</label><br><br>
                    <button id="botonContinuar" class="btn btn-primary my-3" disabled>Continuar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var checkbox = document.getElementById('cerrarPDF');
            var botonContinuar = document.getElementById('botonContinuar');

            checkbox.addEventListener('change', function() {
                if (this.checked) {
                    botonContinuar.disabled = false;
                } else {
                    botonContinuar.disabled = true;
                }
            });

            botonContinuar.addEventListener('click', function() {
                if (!checkbox.checked) {
                    alert('Debes aceptar los términos y condiciones para continuar.');
                    return;
                }
                window.location.href = "{% url 'carrito_accion' 'ordenar' %}";
            });
        });

        function incrementValue() {
            var input = document.querySelector('input[type="text"]');
            var value = parseInt(input.value, 10);
            value = isNaN(value) ? 0 : value;
            value++;
            input.value = value;
        }

        function decrementValue() {
            var input = document.querySelector('input[type="text"]');
            var value = parseInt(input.value, 10);
            value = isNaN(value) ? 0 : value;
            value > 1 ? value-- : value = 1;
            input.value = value;
        }
    </script>
{% endblock %}
