<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Importar bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <title>Carrito</title>
</head>
<body>
    <div class="container text-center mt-5">
        <!-- Muestra el LOGO-FACULTAD-RENOVADO -->
        <img src="{% static 'img/LOGO-FACULTAD-RENOVADO.png' %}" class="img-fluid">
        <h1 style="text-align: center;">Carrito</h1>

        <!--Tabla que muestra los objetos en el carrito, descripcion de prodcuto y un boton para eliminar el prodicto-->
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Descripcion</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td><a href="{% url 'eliminar' producto.id %}" class="btn btn-danger">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
    </div>
    
</body>
</html>
