{% extends 'base.html' %}

{% load static %}

{% block content %}
<head>
    <title>Carrito</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<main>
    <div class="container order-details-container">
        <h2>Carrito</h2>
        <hr class="hr"/>
        <div class="order-items">
            <h4>Artículos en el carrito</h4>
            <ul>
                <!--Si el carrito tiene articulos-->
                {% if articulos-- %}
                    <!--Por cada articulo en el carrito-->
                    {% for articulo in articulos %}
                        <li>
                            <div class="order-item">
                                <div class="order-item img">
                                    <img src="{{ articulo.imagen.url }}" alt="{{ articulo.nombre }}">
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                <!--Si el carrito está vacío-->
                {% else %}
                    <p>No hay artículos en el carrito</p>
                {% endif %}  
            </ul>
        </div>
        <div class="buttons">
            <a href="{% url 'historial_solicitudes' %}" class="btn btn-secondary">Regresar</a>
        </div>
    </div>

{% endblock %}