{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Catálogo de Material Disponible</title>
{% endblock %}

{% block nav-end %}
    <a class="btn btn-md btn-outline-success text-white bg-success rounded-pill d-block d-sm-inline-block mb-3 mb-sm-0 me-sm-3" href="{% url 'carrito' %}">
        <i class="bi bi-cart"></i> {{ carrito.numero_total_unidades }}
    </a>


{% endblock %}


{% block content %}

    <div class="container text-center mt-3">

        <form class="input-group" method="POST" action="{% url 'catalogo' %}">
            {% csrf_token %}
            <div class="form-floating">
                <select type="text" class="form-select rounded-start" name="categoria">
                    <option class="dropdown-item" value="todos">Todos</option>
                    {% for categoria in categorias %}
                        <option class="dropdown-item" value="{{ categoria.pk }}">{{ categoria }}</option>
                    {% endfor %}
                </select>
                <label for="floatingInputGroup2">Categorías</label>
            </div>
            <button class="btn btn-outline-secondary col-2 col-md-1" type="submit">
                <i class="bi bi-search"></i>
            </button>
        </form>

        <div class="my-4">
            <div class="row gy-4 gx-4 row-cols-2 row-cols-md-3 row-cols-xl-4">
                {% for articulo in articulos %}
                    {% if articulo.num_unidades > 0 %}
                    <div class="col">
                        <div class="card h-100 d-flex flex-column">
                            <a href="{% url 'detalles_articulo' articulo.id %}">
                                <img class="card-img-top img-fluid" src="{{ articulo.imagen.url }}"
                                     alt="{{ articulo.nombre }}" style="height: 150px; object-fit: cover;">
                            </a>
                            <div class="card-body flex-grow-1">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{ articulo.nombre }}</h5>
                                    <p>Unidades disponibles: {{ articulo.num_unidades }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>



    </div>


{% endblock %}
