{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="row align-items-center">
        <div class="col-sm-6 text-center">
            <img src="{{ articulo.imagen.url }}" alt="{{ articulo.nombre }}" class="img-fluid rounded" style="width: 350px; height: 350px; object-fit: cover; border-radius: 5px;">
        </div>
        <div class="col-sm-6 d-flex flex-column justify-content-between">
            <div>
                <h1>{{ articulo.nombre }}</h1>
                <p>{{ articulo.descripcion|default:"Sin descripción." }}</p>
            </div>
            <div>
                <form id="addToCartForm" method="post" action="{% url 'agregar_al_carrito' articulo.id %}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" onclick="decrementValue()">-</button>
                        </div>
                        <input disabled type="text" name="cantidad" class="form-control text-center" value="1" id="number" min="1" max="99" style="width: 40px;">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="incrementValue()">+</button>
                        </div>
                    </div>
                    <a href="{% url 'catalogo' %}" class="btn btn-secondary" style="background-color: #DD971A; border: #DD971A;">Regresar</a>

                    <button type="submit" class="btn btn-primary" onclick="showSuccessModal(event)">Aceptar</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top modal-lg">
        <div class="modal-content" style=" margin-bottom: 0;">
            <div class="modal-body text-center">
                <p id="modalMessage" style="font-size: 18px; margin-bottom: 0;">Artículo agregado correctamente al carrito.</p>
            </div>
        </div>
    </div>
</div>


<script>
    function incrementValue() {
        var value = parseInt(document.getElementById('number').value, 10);
        var max = parseInt("{{ articulo.num_unidades }}");
        value = isNaN(value) ? 1 : value;
        value++;
        if (value > max) {
            value = max;
        }
        document.getElementById('number').value = value;
    }

    function decrementValue() {
        var value = parseInt(document.getElementById('number').value, 10);
        var min = 1;
        value = isNaN(value) ? 1 : value;
        value--;
        if (value < min) {
            value = min;
        }
        document.getElementById('number').value = value;
    }

  function showSuccessModal(event) {
        event.preventDefault();

        var modal = new bootstrap.Modal(document.getElementById('exampleModal'));
        modal.show();

        setTimeout(function() {
            modal.hide();
            document.getElementById('addToCartForm').submit();
        },3000);
    }
</script>
{% endblock %}
