{% extends 'base.html' %}

{% load static %}

{% block content %}
<head>
    <!-- Importar estilos personalizados -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Detalles de orden</title>
</head>

<body class="custom-background-color">

    <main>
        <div class="container order-details-container">
            <h2>Detalles de orden ###</h2>
            <div class="order-items">
                <h5>Artículos de la orden</h5>
                <ul>
                    <li>Artículo #1</li>
                    <li>Artículo #2</li>
                    <li>Artículo #3</li>
                </ul>
            </div>
            <div class="order-info">
                <h5>Nombre de la práctica</h5>
                <p>Nombre de la práctica</p>
                <h5>Lugar de práctica o producción</h5>
                <p>Lugar de práctica o producción</p>
                <h5>Fecha y hora de recepción</h5>
                <p>Fecha y hora de recepción</p>
                <h5>Fecha y hora de devolución</h5>
                <p>Fecha y hora de devolución</p>
            </div>
            <div class="buttons">
                <button type="button" class="btn-danger" onclick="confirmarCancelacion()">Cancelar Solicitud</button>
                <a href="historial_solicitudes" class="btn btn-secondary">Regresar</a>
            </div>
        </div>
        
    </main>
    <footer>
        <p>© 2024</p>
    </footer>
    <!-- Script -->
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}