{% extends 'base.html' %}

{% load static %}

{% block content %}
    <head>
        <title>Detalles de orden</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <main>
        <div class="container order-details-container">
            <h2>Detalles de orden</h2>
            <hr class="hr"/>
            <div class="order-items">
                <h5>Artículos de la orden</h5>
                <ul>
                    {% for articulo in orden.articulos.all %}
                        <li>{{ articulo }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="order-info">
                <h5>Nombre de la práctica</h5>
                <p>{{ orden.nombre_practica }}</p>
                <h5>Lugar de práctica o producción</h5>
                <p>{{ orden.lugar_practica }}</p>
                <h5>Fecha y hora de recepción</h5>
                <p>{{ orden.fecha_recepcion }}</p>
                <h5>Fecha y hora de devolución</h5>
                <p>{{ orden.fecha_devolucion }}</p>
            </div>
            <div class="buttons">
                <button type="button" class="btn-danger" onclick="confirmarCancelacion()">Cancelar Solicitud</button>
                <a href="{% url 'historial_solicitudes' %}" class="btn btn-secondary">Regresar</a>
            </div>
        </div>
        
    </main>

    <!-- Script -->
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}