{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Detalles de la Orden</title>
{% endblock %}

{% block content %}
    <main class="container my-4 d-flex justify-content-center">
        <div class="col-md-6">
            <div class="order-info p-4 border rounded bg-white shadow-sm">
                <h2 class="text-center mb-4">{{ orden.nombre }}</h2>

                <div class="container my-4 justify-content-center">
                    <table class="table" style="border: none;">
                        <tr class="mb-4">
                            <td class="col-md-6" style="border: none;text-align: center;">
                                <strong class="fs-4">Inicio</strong>
                            </td>
                            <td class="col-md-6" style="border: none;text-align: center;">
                                <strong class="fs-4">Final</strong>
                            </td>
                        </tr>
                        <tr class="mb-3">
                            <td class="col-md-6" style="border: none; text-align: center;">
                                {{ orden.inicio|date:"d b" }}, {{ orden.inicio|time:"H:i" }}
                            </td>
                            <td class="col-md-6" style="border: none; text-align: center;">
                                {{ orden.final|date:"d b" }}, {{ orden.final|time:"H:i" }}
                            </td>
                        </tr>
                    </table>
                </div>

                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Lugar</th>
                        <td>{{ orden.get_lugar_display }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Materia</th>
                        <td>{{ orden.materia.nombre }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tipo</th>
                        <td>{{ orden.get_tipo_display }}</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="1">Descripción</th>
                        <td scope="row" colspan="1">
                            {{ orden.descripcion }}
                        </td>
                    </tr>
                    <tr>

                    </tr>
                    <tr>
                        <th class="border-0" scope="row" colspan="1">
                            Artículos
                        </th>
                        <td class="border-0" colspan="1">
                            <ul class="">
                                {% for articulo in orden.articulos.all %}
                                    <li class=""> {{ articulo }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>


            <div class="row mt-4 justify-content-center">
                {% if orden.estado == EstadoOrden.RESERVADA or orden.estado == EstadoOrden.APROBADA %}
                    <div class="col-auto">
                        <button id="boton_cancelar" type="button" class="btn btn-danger"
                                style="border: none; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)"
                                data-bs-toggle="modal" data-bs-target="#modalCancelar">Cancelar Solicitud
                        </button>
                    </div>
                {% endif %}
                <div class="col-auto">
                    <a href="{% url 'historial_solicitudes' %}?state={{ request.GET.state }}"
                       class="btn btn-secondary"
                       style="background-color: #DD971A; color: white; border: none; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)">Regresar</a>
                </div>
            </div>

            <div class="modal fade" id="modalCancelar" tabindex="-1" aria-labelledby="cancelarModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="cancelarModalLabel"
                                style="border: none; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)">Confirmar
                                Cancelación</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            No podrás recuperar tu orden una vez que hayas cancelado. ¿Deseas continuar?
                        </div>
                        <div class="modal-footer">
                            <form action="{% url 'detalles_orden' orden.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Cancelar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
