{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <title>Vista de prueba</title>
{% endblock %}

{% block content %}

    <div class="container col-12 col-md-6">

        <div class="text-center mt-5">
            <h4>Detalles de la Producción</h4>
            <p>Para continuar al catálogo es necesario que captures los siguientes datos.
                <br/>Esto sirve para mostrar el equipo del catálogo que está disponible.</p>
        </div>

        <hr class="hr"/>

        <div class="container text-center mt-3 justify-content-center pt-3 pb-5">
            <form class="form" method="POST" action="{% url 'filtros' %}">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="errors">
                        <ul>
                            {% for field, error_list in form.errors.items %}
                                {% for error in error_list %}
                                    <li>{{ field }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="input-group mb-3">
                    <span class="input-group-text">Nombre</span>
                    {% render_field form.nombre class="form-control" %}
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Materia</span>
                    <select id="materia" name="materia" class="dropdown form-select" required>
                        {% if materias %}
                            {% for materia in materias %}
                                <option class="dropdown-item" value="{{ materia.pk }}">{{ materia }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Fecha de inicio</span>
                    {% render_field form.inicio type="date" class="form-control" placeholder="selecciona una fecha de inicio" %}
                    <span class="input-group-text">Hora de inicio</span>
                    {% render_field form.hora_inicio class="form-select" %}
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Duración</span>
                    {% render_field form.duracion class="form-select" %}
                </div>


                <div class="row">
                    <div class="col text-center">
                        <a href="menu" class="btn btn-secondary me-5">Regresar</a>
                        <button id="boton_aceptar" type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modalContinuar">Aceptar filtro
                        </button>

                        <div class="modal fade" id="modalContinuar" tabindex="-1" aria-labelledby="continuarModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog ">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="continuarModalLabel">Confirmar filtro</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">
                                        ¿Desea continuar al catálogo?
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-danger">Continuar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
