{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block nav %}
{% endblock %}

{% block content %}
    <div class="text-center row pt-3 pb-3 justify-content-center">
        <img class="img-fluid" style="max-width: 400px; width: 100%;" src="{% static 'img/LOGO-FACULTAD-RENOVADO.png' %}">
        <img class="img-fluid" style="max-width: 200px; width: 100%;" src="{% static 'img/CEPA-UABC.png' %}">
        <label class="mt-3 small">Sistema de Préstamos de Material Audiovisual</label>
    </div>

    <div class="container d-flex justify-content-center ">
        <form class="col-md-5" method="post">

            {% csrf_token %}

            {% if form.errors %}
                <div class="alert alert-danger mt-2 small" role="alert">
                    El nombre de usuario o la contraseña que escribió son incorrectos. Inténtelo nuevamente. Si aún no puede iniciar sesión, comuníquese con el administrador del sistema.
                </div>
            {% endif %}

            <div class="input-group mt-4 mb-4">
                <label class="input-group-text" id="basic-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/></svg>
                </label>
                {% render_field form.username class="form-control" placeholder="Matrícula" %}
            </div>

            <div class="input-group mb-4">
                <span class="input-group-text" id="basic-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16"><path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1"/></svg>
                </span>
                {% render_field form.password type="password" class="form-control" placeholder="Contraseña" %}
            </div>

            <div class="mt-5 text-center row">
                <button class="btn btn-primary w-75 m-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Iniciar Sesión
                </button>

                <a class="small pt-4" href="{% url 'reset_password' %}">¿Ha olvidado su contraseña?</a>
    

            </div>


        </form>
    </div>
{% endblock %}

<!-- Modal -->
{#    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#      <div class="modal-dialog ">#}
{#        <div class="modal-content">#}
{##}
{#          <div class="modal-header">#}
{#             <!--Reglamento-->#}
{#            <h5 class="modal-title" id="exampleModalLabel">Reglamento</h5>#}
{#            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#          </div>#}
{##}
{#          <div class="modal-body">#}
{##}
{#            <!--Para mostrar el reglamento en cerrarPDF-->#}
{#            <embed id="pdfViewer" src="{% static 'img/Meta.pdf' %}" type="application/pdf" width="100%" height="600px">#}
{##}
{#            <!--Crea un checkbox para cerrar el reglamento-->#}
{#            <input type="checkbox" id="cerrarPDF">#}
{##}
{#            <!--Etiqueta del checkbox y texto del mismo checkbox-->#}
{#            <label for="cerrarPDF">He leído términos y condiciones</label><br><br>#}
{##}
{#            <!--Boton para continuar una hez que haya aceptado los terminos y condiciones-->#}
{#            <button id="botonContinuar" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-family: 'Minion Pro', sans-serif;" disabled>Continuar</button>#}
{##}
{#            <script>#}
{#              <!-- Toma la referencia del checkbox "cerrarPDF"-->#}
{#              var checkbox = document.getElementById('cerrarPDF');#}
{##}
{#              var botonContinuar = document.getElementById('botonContinuar');#}
{##}
{#              checkbox.addEventListener('change', function() {#}
{#                  if (this.checked) {#}
{#                      botonContinuar.disabled = false;#}
{#                  } else {#}
{#                      botonContinuar.disabled = true;#}
{#                  }#}
{#              });#}
{#            </script>#}
{#              <!-- Redirigir se realiza en views.py -->#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}