{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block nav %}
{% endblock %}

{% block content %}

    <div class="container col-12 col-md-5 mt-3 mt-md-5">

        <div class="container py-2 border border-1 rounded bg-white">

            <div class="mt-4 mb-5 text-center">
                <img class="img-fluid" style="max-width: 400px; width: 100%;"
                     src="{% static 'img/LOGO-FACULTAD-RENOVADO-NO-BORDES-CEPA.png' %}">

                <label class="mt-2 small text-secondary">Sistema de Préstamos de Material Audiovisual</label>
            </div>



            <form class="" method="post">

                {% csrf_token %}

                {% if form.errors %}
                    <div class="alert alert-danger mt-2 small" role="alert">
                        El nombre de usuario o la contraseña que escribió son incorrectos. Inténtelo nuevamente. Si aún
                        no puede iniciar sesión, comuníquese con el administrador del sistema.
                    </div>
                {% endif %}

                <div class="input-group mt-4 mb-4">
                    <label class="input-group-text" id="basic-addon1">
                        <i class="bi bi-person"></i>
                    </label>
                    {% render_field form.username autocorrect="off" autocapitalize="off" class="form-control" placeholder="Matrícula" %}
                </div>

                <div class="input-group mb-4">
                <span class="input-group-text" id="basic-addon1">
                    <i class="bi bi-lock"></i>
                </span>
                    {% render_field form.password type="password" class="form-control" placeholder="Contraseña" %}
                </div>

                <button type="submit" class="w-100 btn btn-primary btn-lg mt-2">
                    Iniciar Sesión
                </button>
            </form>
        </div>

        <div class="pt-3 text-center">
            <a class="small " href="{% url 'reset_password' %}">¿Ha olvidado su contraseña?</a>
        </div>


    </div>


{% endblock %}

<!-- Modal -->
{#    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#      <div class="modal-dialog ">#}
{#        <div class="modal-content">#}
{##}
{#          <div class="modal-header">#}
{#             <!--Reglamento-->#}
{#            <h5 class="modal-title" id="exampleModalLabel">Reglamento</h5>#}
{#            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#          </div>#}
{##}
{#          <div class="modal-body">#}
{##}
{#            <!--Para mostrar el reglamento en cerrarPDF-->#}
{#            <embed id="pdfViewer" src="{% static 'img/Meta.pdf' %}" type="application/pdf" width="100%" height="600px">#}
{##}
{#            <!--Crea un checkbox para cerrar el reglamento-->#}
{#            <input type="checkbox" id="cerrarPDF">#}
{##}
{#            <!--Etiqueta del checkbox y texto del mismo checkbox-->#}
{#            <label for="cerrarPDF">He leído términos y condiciones</label><br><br>#}
{##}
{#            <!--Boton para continuar una hez que haya aceptado los terminos y condiciones-->#}
{#            <button id="botonContinuar" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-family: 'Minion Pro', sans-serif;" disabled>Continuar</button>#}
{##}
{#            <script>#}
{#              <!-- Toma la referencia del checkbox "cerrarPDF"-->#}
{#              var checkbox = document.getElementById('cerrarPDF');#}
{##}
{#              var botonContinuar = document.getElementById('botonContinuar');#}
{##}
{#              checkbox.addEventListener('change', function() {#}
{#                  if (this.checked) {#}
{#                      botonContinuar.disabled = false;#}
{#                  } else {#}
{#                      botonContinuar.disabled = true;#}
{#                  }#}
{#              });#}
{#            </script>#}
{#              <!-- Redirigir se realiza en views.py -->#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}