{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"></head>
<body>

    {% if grupo == "prestatarios" %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="card mx-auto" style="max-width: 400px;">
                <div class="card-body text-center">
                    <div class="d-flex justify-content-center mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16" style="margin-right: 10px;"> <!-- Añadido margen derecho -->
                            <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5"/>
                            <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
                        </svg>
                    </div>
                    <h5 class="card-title">Solicitar equipo</h5>
                    <p class="card-text">Descripción</p>
                    <a href="filtros" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card mx-auto" style="max-width: 400px;">
                <div class="card-body text-center">
                        <div class="d-flex justify-content-center mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16" style="margin-right: 10px;">
                                <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
                                <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                                <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
                            </svg>
                        </div>
                        <div>
                            <h5 class="card-title">Historial de solicitudes</h5>
                            <p class="card-text">Descripción</p>
                            <a href="historial_solicitudes" class="btn btn-primary">Ir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    {% elif grupo == "maestro" %}
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">??/h5>
            <p class="card-text"> descripcion </p>
            <a href="#" class="btn btn-primary">Ir</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">??</h5>
            <p class="card-text"> descripcion </p>
            <a href="#" class="btn btn-primary">Ir</a>
          </div>
        </div>




    {% elif grupo == "almacen" %}
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ordenes autorizadas</h5>
            <p class="card-text"> descripcion </p>
            <a href="#historial_solicitudes.html" class="btn btn-primary">Ir</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ordenes prestadas</h5>
            <p class="card-text"> descripcion </p>
            <a href="#" class="btn btn-primary">Ir</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ordenes devueltas</h5>
            <p class="card-text"> descripcion </p>
            <a href="#" class="btn btn-primary">Ir</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ordenes autorizadas</h5>
            <p class="card-text"> descripcion </p>
            <a href="#" class="btn btn-primary">Ir</a>
          </div>
        </div>


    {% elif grupo == "coordinador"  %}
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ordenes reportadas</h5>
            <p class="card-text"> descripcion </p>
            <a href="#" class="btn btn-primary">Ir</a>
          </div>
        </div>


    {% endif %}


</body>
</html>

{% endblock %}
