{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Nueva contraseña</title>
</head>
{% if validlink %}
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <h4 class="text-center mb-4">Recuperar Contraseña</h4>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group  mb-3">
                        {{ form.new_password1.errors }}
                        <label for="id_password1">Nueva Contraseña:</label>
                        {% render_field form.new_password1 class="form-control" placeholder="Ingrese su nueva contraseña" %}
                    </div>
                    <div class="form-group  mb-3">
                        {{ form.new_password2.errors }}
                        <label for="password2">Confirmar Contraseña:</label>
                        {% render_field form.new_password2 class="form-control" placeholder="Confirme su nueva contraseña" %}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Guardar Cambio</button>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <h4>El enlace de restablecimiento de contraseña es inválido o ha caducado.</h4>
    {% endif %}

</body>

{% endblock %}