{% extends 'base.html' %}

{% load static %}

{% block content %}
<head>
    <!-- Importar estilos personalizados -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Solicitud</title>
</head>
<body class="custom-background-color">

    
    <div class="container form-container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12">
                <h4 class="text-center mb-4">Datos de solicitud</h4>
                <form id="solicitudForm" action="solicitud" method="POST">
                    <h5>Información del solicitante</h5>
                    <div class="form-group row">
                        <label for="nombre" class="col-sm-2 col-form-label">Nombre de la práctica</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="NumeroCelular" class="col-sm-2 col-form-label">Número de celular</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="NumeroCelular" name="NumeroCelular" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="correo" class="col-sm-2 col-form-label">Correo electrónico del corresponsable</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="correo" name="correo" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="dentro" id="dentroSi" value="si" required onclick="toggleLugarField()">
                                <label class="form-check-label" for="dentroSi">Dentro de las instalaciones</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="dentro" id="dentroNo" value="no" required onclick="toggleLugarField()">
                                <label class="form-check-label" for="dentroNo">Fuera de las instalaciones</label>
                            </div>
                        </div>
                    </div>
                    <!-- Campo para ingresar el lugar, oculto por defecto -->
                    <div class="form-group row" id="lugarGroup" style="display: none;">
                        <label for="lugar" class="col-sm-2 col-form-label">Lugar</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lugar" name="lugar">
                        </div>
                    </div>

                    <!-- Boton de confirmar perdido y boton para regresar -->
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn-primary">Confirmar solicitud</button>
                            <a href="prestatario" class="btn btn-secondary">Regresar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Script -->
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}