{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Importar bootstrap  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Omitir este script si no se necesita -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <title>Vista de prueba</title>
</head>
<body>
    <div class="container text-center mt-5">

        <style>
            .image-container {
                display: flex;
                justify-content: flex-start;
                padding: 1px;
                font-family: "Minion Pro", sans-serif;
            }
            h1, h3 {
                font-family: 'Minion Pro', sans-serif;
            }
        </style>

        <!--Imagen de la facultad-->
        <div class="image-container">
            <img class="my-4" src="{% static 'img/LOGO-FACULTAD-RENOVADO.png' %}" height="80px" style="position: absolute; top: 0; left: 0;">
        </div>

        <!--Palabras de inicio-->
        <h1>PEMA</h1>
        <h3>Prestamos de Equipo y Material Audiovisual</h3><br><br>

        <div class="container d-flex justify-content-center align-items-center mt-5">
            <div class="col-md-6">
                <form>
                    <div class="mb-3">
                        <label for="matricula" class="form-label">Matricula</label>
                        <input type="number" class="form-control" id="matricula" aria-describedby="Ingrese matricula">
                    </div>
                    <div class="mb-3">
                        <label for="contraseña" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="contraseña">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                    </div>
                </form>
                    <button class="btn btn-primary my-3"  data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-family: 'Minion Pro', sans-serif;">Iniciar Sesion</button>

            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content">

          <div class="modal-header">
             <!--Reglamento-->
            <h5 class="modal-title" id="exampleModalLabel">Reglamento</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">

            <!--Para mostrar el reglamento en cerrarPDF-->
            <embed id="pdfViewer" src="{% static 'img/Meta.pdf' %}" type="application/pdf" width="100%" height="600px">

            <!--Crea un checkbox para cerrar el reglamento-->
            <input type="checkbox" id="cerrarPDF">

            <!--Etiqueta del checkbox y texto del mismo checkbox-->
            <label for="cerrarPDF">He leído términos y condiciones</label><br><br>

            <!--Boton para continuar una hez que haya aceptado los terminos y condiciones-->
            <button id="botonContinuar" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-family: 'Minion Pro', sans-serif;" disabled>Continuar</button>

            <script>
              <!-- Toma la referencia del checkbox "cerrarPDF"-->
              var checkbox = document.getElementById('cerrarPDF');

              var botonContinuar = document.getElementById('botonContinuar');

              checkbox.addEventListener('change', function() {
                  if (this.checked) {
                      botonContinuar.disabled = false;
                  } else {
                      botonContinuar.disabled = true;
                  }
              });

              // Escuchar clics en el botón de continuar
              botonContinuar.addEventListener('click', function() {
                // Redirigir a otra página
                window.location.href = "prestatario.html";
            });

            </script>
          </div>

        </div>
      </div>
    </div>
</body>
</html>