# basico para django
asgiref==3.7.2
Django==5.0.3
django-phonenumber-field==7.3.0
phonenumbers==8.13.30
PyMySQL==1.1.0
sqlparse==0.4.4
typing_extensions==4.8.0
pillow==10.2.0
django-widget-tweaks==1.4.12

# archivos
pandas~=2.2.1

# Documentacion automatica
Sphinx==7.2.6
sphinx-markdown-builder==0.6.6
sphinx-rtd-theme==2.0.0
