Asunto: Artículo reportado en tu solicitud de préstamo

Estimado/a {{ orden.prestatario }},

Queremos informarte que uno de los artículos solicitados en tu orden de préstamo {{ orden.nombre }} ha sido reportado por el maestro responsable. 
Es importante que revises la situación para asegurarte de que todo esté en orden.

Por favor, comunícate con el área de préstamos lo antes posible para discutir cualquier acción necesaria o resolver cualquier problema relacionado con el artículo reportado.

Si tienes alguna pregunta o necesitas más información, no dudes en contactarnos.

Atentamente,
Tu equipo de soporte
