{% extends 'base.html' %}
{% load static %}

{% block content %}

  <body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary" >
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="principal">Ordenes autorizadas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ordenes_devueltas">Ordenes devueltas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ordenes_prestadas">Ordenes prestadas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="ordenes_reportadas">Ordenes reportada</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container mt-auto">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Productos</th>
                <th scope="col">Prestatario</th>
                <th scope="col">Estado</th>
                <th scope="col">Comienzo</th>
                <th scope="col">Final</th>
                <th scope="col">Detalles</th>

            </tr>
        </thead>
        <tbody>
            {% for orden in ordenes %}
                <tr>
                    <td>{{ orden.id }}</td>
                    <td>
                        <ul>
                            {% for articulo in orden.articulos.all %}
                                <li>{{ articulo }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ orden.prestatario }}</td>
                    <td>{{ orden.estado }}</td>
                    <td>{{ orden.inicio }}</td>
                    <td>{{ orden.final }}</td>
                    <td><a href="{% url 'detalles_orden_prestada' id=orden.id %}" class="btn btn-secondary justify-content-center">Ver detalles</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


  </body>
</html>
{% endblock %}